 .u-section-1 {
  background-image: none;
  min-height: 728px;
}

.u-section-1 .u-custom-html-1 {
  min-height: 65px;
  margin-top: 332px;
  margin-bottom: 60px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 620px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: 257px;
    height: auto;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 733px;
  }
}

.u-block-6b8e-4:not([data-block-selected]):not([data-cell-selected]),
.u-block-6b8e-4:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-6b8e-4:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-6b8e-4:not([data-block-selected]):not([data-cell-selected]).u-block-6b8e-4:not([data-block-selected]):not([data-cell-selected]).u-block-6b8e-4:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-block-6b8e-4:not([data-block-selected]):not([data-cell-selected]).u-block-6b8e-4:not([data-block-selected]):not([data-cell-selected]).u-block-6b8e-4:not([data-block-selected]):not([data-cell-selected]).hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout:hover .u-block-6b8e-4:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-6b8e-4:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}.u-section-2 .u-sheet-1 {
  min-height: 474px;
}

.u-section-2 .u-group-1 {
  width: 575px;
  min-height: 384px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  box-shadow: 10px 10px 8px 0 rgba(128,128,128,1);
  margin: 29px auto 0 401px;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px 60px;
}

.u-section-2 .u-text-1 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-weight: normal;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-2 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-scale: 1;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-1 {
  font-size: 0.875rem;
  border-style: solid;
  background-image: none;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  letter-spacing: normal;
  font-weight: normal;
  text-transform: none;
  margin: 20px auto 0 0;
}

.u-section-2 .u-image-1 {
  width: 265px;
  height: 265px;
  box-shadow: -11px 0px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-scale: 1;
  margin: -324px auto 60px 164px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    width: 481px;
    min-height: 386px;
    margin-top: 54px;
    margin-right: 37px;
    margin-left: 365px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 35px;
    padding-right: 35px;
  }

  .u-section-2 .u-btn-1 {
    font-weight: 400;
  }

  .u-section-2 .u-image-1 {
    margin-top: -335px;
    margin-left: 116px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 839px;
  }

  .u-section-2 .u-group-1 {
    width: 425px;
    min-height: 418px;
    margin-top: 193px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -341px;
    margin-left: 39px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    width: 309px;
    min-height: 582px;
    margin-top: 129px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    margin-top: -423px;
    margin-left: -19px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    min-height: 454px;
    margin-top: 306px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -711px;
    margin-left: -11px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 490px;
}

.u-section-3 .u-group-1 {
  width: 539px;
  min-height: 348px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 71px 98px 0 auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 30px 30px 110px;
}

.u-section-3 .u-text-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  text-transform: none;
  background-image: none;
  margin: 20px 0 0;
}

.u-section-3 .u-image-1 {
  width: 550px;
  height: 430px;
  object-position: 0% 50%;
  box-shadow: -10px 20px 20px 0 rgba(0,0,0,0.8);
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-scale: 1;
  margin: -394px auto 35px 20px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    width: 486px;
    margin-top: 86px;
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    width: 461px;
    margin-top: -374px;
    margin-left: 71px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 937px;
  }

  .u-section-3 .u-group-1 {
    min-height: 403px;
    margin-top: 60px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-bottom: 95px;
  }

  .u-section-3 .u-image-1 {
    width: 489px;
    margin-top: -69px;
    margin-bottom: 60px;
    margin-left: 50px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 929px;
  }

  .u-section-3 .u-group-1 {
    width: 456px;
    margin-top: 128px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 75px;
  }

  .u-section-3 .u-image-1 {
    width: 448px;
    height: 397px;
    margin-top: -47px;
    margin-left: auto;
    margin-bottom: 48px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 759px;
  }

  .u-section-3 .u-group-1 {
    min-height: 392px;
    width: 283px;
    margin-top: 60px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 70px;
  }

  .u-section-3 .u-image-1 {
    width: 264px;
    height: 264px;
    margin-top: -56px;
    margin-bottom: 60px;
    margin-left: 33px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-4 .u-shape-1 {
  height: 326px;
  background-image: none;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-scale: 1;
  box-shadow: 12px 11px 8px 0 rgba(128,128,128,1);
  width: 1101px;
  margin: 32px auto 0 0;
}

.u-section-4 .u-layout-wrap-1 {
  width: 965px;
  margin: -302px auto 36px 46px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 628px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-4 .u-text-1 {
  font-size: 2.25rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-scale: 1;
  font-weight: normal;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-2 {
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  font-size: 1rem;
  font-style: normal;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-image-1 {
  min-height: 628px;
  background-image: url("images/ChicagoImpactReport1.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-2 {
  box-shadow: 19px 23px 20px 0 rgba(0,0,0,0.4);
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 592px;
  }

  .u-section-4 .u-shape-1 {
    width: 940px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: -321px;
    margin-bottom: 37px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 518px;
  }

  .u-section-4 .u-image-1 {
    min-height: 518px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 453px;
  }

  .u-section-4 .u-shape-1 {
    width: 720px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: -330px;
    margin-bottom: 28px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-image-1 {
    min-height: 397px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 912px;
  }

  .u-section-4 .u-shape-1 {
    height: 470px;
    width: 540px;
    margin-top: 8px;
    margin-left: -20px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: -451px;
    margin-bottom: 50px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 229px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 8px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 20px;
    margin-right: 27px;
  }

  .u-section-4 .u-image-1 {
    min-height: 606px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 820px;
  }

  .u-section-4 .u-shape-1 {
    width: 340px;
    margin-left: -21px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: -470px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 48px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 63px;
  }

  .u-section-4 .u-image-1 {
    min-height: 382px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 417px;
}

.u-section-5 .u-text-1 {
  font-size: 1.875rem;
  font-weight: normal;
  margin: 29px auto 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.125rem;
  margin: 12px auto 0;
}

.u-section-5 .u-icon-1 {
  font-size: 2.0626em;
  margin-left: 11px;
}

.u-section-5 .u-social-icons-1 {
  height: 32px;
  min-height: 16px;
  width: 155px;
  min-width: 108px;
  white-space: nowrap;
  transition-duration: 1.25s;
  margin: 23px auto 60px;
}

.u-section-5 .u-icon-2 {
  color: rgb(59, 89, 152) !important;
}

.u-section-5 .u-icon-3 {
  color: rgb(85, 172, 238) !important;
}

.u-section-5 .u-icon-4 {
  color: rgb(0, 122, 185) !important;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-2 {
    width: auto;
    margin-right: 98px;
  }

  .u-section-5 .u-social-icons-1 {
    width: 156px;
    margin-right: 142px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    width: auto;
    margin-right: 99px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 88px;
  }

  .u-section-5 .u-social-icons-1 {
    margin-right: 140px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    margin-right: auto;
  }

  .u-section-5 .u-text-2 {
    margin-right: auto;
  }

  .u-section-5 .u-social-icons-1 {
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
  }
}

.u-section-5 .u-social-icons-1,
.u-section-5 .u-social-icons-1:before,
.u-section-5 .u-social-icons-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-5 .u-container-layout:hover .u-social-icons-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-5 .u-social-icons-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}